
.dd{
    display: flex;
    width: 224px;
    justify-content: space-between;
    flex-shrink: 0;
}


.ddline{
    width: 220px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 3px;
    stroke: #5E6073;
}

.ddtext{
    color: rgba(94, 96, 115, 0.50);
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ddarrow{
    width: 17px;
    height: 8px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #5E6073;
    transition-duration: 0.8s;
}

.ddroom {
    position: relative;
    display: inline-block;
}

.dropdown-content-room {
    display: none;
    position: absolute;
    top: 35px;
    min-width: 225px;
    border-radius: 10px;
    background: #F2F4D1;
    /* Drop Shadow */
    box-shadow: 0px 460px 129px 0px rgba(0, 0, 0, 0.00), 0px 295px 118px 0px rgba(0, 0, 0, 0.01), 0px 166px 99px 0px rgba(0, 0, 0, 0.05), 0px 74px 74px 0px rgba(0, 0, 0, 0.09), 0px 18px 41px 0px rgba(0, 0, 0, 0.10);
}

.dropdown-content-room a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #5E6073;
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dropdown-content-room a:hover{
    color: #000;
}

.show{
    display: block;
}

.ddroom:hover .dropdown-content-room{
    display: block;
}

.ddroom:hover .ddarrow{
    transform: rotate(-180deg);
    transform-origin: bottom;
}

.ddroom:hover .ddtext{
    color: black;
}

.selected{
    font-family: "Playfair Display";
    color: #000;
}



/*button*/
.btnUp, .btnDown{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #5E6073;
}

.counterA{
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btnNo{
    color: #5E6073;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}