<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Agua Vista Retreat - Checkout</title>
    <link rel="stylesheet" href="../static/CCheckout.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet'>
</head>
<body>
<!--navbar starts-->
<div class="container_navbar">
    <div class="container_navbar_content">
        <div class="container_Lnavbar">
            <div class="logo"><img src="../static/LogoMain.png"></div>
            <div class="container_Mnavbar">
                <a th:href="@{/booking}" class="LHome navbutton">Home</a>
                <a th:href="@{/booking} + '#targetRooms'" class="LRooms navbutton">Rooms</a>
                <a th:href="@{/booking} + '#targetPrice'" class="LPricing navbutton">Pricing</a>
                <a th:href="@{/booking} + '#targetAbout'" class="LAbout navbutton">About</a>
            </div>
        </div>
    </div>
</div>
<!--navbar ends-->

<div class="summary-container">
    <div class="summary">
        <div class="summary-title">Summary</div>
        <div class="price-details">
            <div class="price-item">
                <div th:text="${booking.selectedRoom}"></div>
                <div class="bold">RM<span th:text="${roomPrice}">0.00</span></div>
            </div>
            <div class="divider"></div>
            <div class="price-item">
                <div>Total:</div>
                <div class="bold">RM<span th:text="${totalPrice}">0.00</span></div>
            </div>
        </div>

        <form th:action="@{/customers/add}" th:object="${customer}" method="post">
            <div class="payment-details">
                <input type="text" th:field="*{fname}" class="input-field" placeholder="Cardholder’s Name">
                <input type="text" class="input-field" placeholder="Card Number">
                <div class="input-group">
                    <input type="text" class="input-small" placeholder="Exp Date">
                    <input type="text" class="input-xsmall" placeholder="CVC">
                </div>
                <input type="submit" class="pay-now-button" value="Pay Now">
            </div>
        </form>
    </div>
</div>
</body>
</html>
