<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign In Page</title>
  <link rel="stylesheet" href="../static/CSignin.css">
</head>

<body>
<div class="gradient">
  <div class="container_navbar">
    AGUA VISTA RETREAT
  </div>
  <div class="container-whole">


    <div class="header">
      <h1>AGUA VISTA RETREAT</h1>
    </div>
    <div class="container">
      <form>

        <div class="input-box">
          <div class="buttons">
            <input class="buttonA" type="submit" value="Create Account">
          </div>

          <p1> or</p1>
          <br><br>
          <input type="email" id="email" name="email" placeholder="Email">
          <input type="password" id="pwd" name="pwd" minlength="8" placeholder="Password ">
        </div>

        <div class="buttons">
          <input class="buttonB" type="submit" value="Sign In">
        </div>

      </form>

    </div>


  </div>
</div>
</body>
</html>
