<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/Cdd.css">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

  <div class="ddroom">
    <div class="dd" onclick="myFunction()">
      <div id="ddtext" class="ddtext">Choose a room</div>
      <div class="ddarrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="11" viewBox="0 0 19 11" fill="none">
          <path d="M1 1L9.5 9L18 1" stroke="#5E6073" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </div>
    </div>
    <div class="ddline">
      <svg xmlns="http://www.w3.org/2000/svg" width="224" height="4" viewBox="0 0 224 4" fill="none">
        <path d="M2 2H222" stroke="#5E6073" stroke-width="3" stroke-linecap="round"/>
      </svg>
    </div>
    <div id="myDropdown" class="dropdown-content">
      <a href="#" onclick="selectRoom('Standard')">Standard</a>
      <a href="#" onclick="selectRoom('Deluxe')">Deluxe</a>
      <a href="#" onclick="selectRoom('Suite')">Suite</a>
    </div>
  </div>
<div class="counterA">
  <p><button onclick="clickCounterDown()" type="button" class="btnDown">-</button></p>
  <div id="result" class="btnNo">0</div>
  <p><button onclick="clickCounterUp()" type="button" class="btnUp">+</button></p>
</div>



<script>

  function clickCounterUp(){
    if (typeof(Storage) !== "undefined"){
      if (localStorage.clickcount){
        localStorage.clickcount = Number(localStorage.clickcount) + 1;
      }
      else {
        localStorage.clickcount = 1;
      }

      document.getElementById("result").innerHTML = localStorage.clickcount
    } else {
      document.getElementById("result").innerHTML = "Error"
    }
  }

  function clickCounterDown(){
    if (typeof(Storage) !== "undefined"){
      if (localStorage.clickcount){
        localStorage.clickcount = Number(localStorage.clickcount) - 1;
      }
      else {
        localStorage.clickcount = 1;
      }

      document.getElementById("result").innerHTML = localStorage.clickcount
    } else {
      document.getElementById("result").innerHTML = "Error"
    }
  }
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  function selectRoom(room){
    var ddtext = document.getElementById("ddtext");
    ddtext.textContent = room;
    ddtext.classList.add("selected");
    document.getElementById("myDropdown").classList.remove("show")
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dd') && !event.target.closest('.dropdown-content-room')) {
      var dropdowns = document.getElementsByClassName("dropdown-content-room");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>

</body>

</html>